<%= javascript_tag do %>
	window.restaurants = <%= raw @restaurant_list %>
	window.winner = <%= raw @winner %>
<% end %>

<h2>
  And the winner is...
</h2>
<div class="row">
  <div class="col-md-7 col-sm-6">
    <h3 id="restaurantName" class="margin0"></h3>
    <div id="restaurantDetails" style="display:none;">
    	<div class="row">
      	<div class="col-md-6">
        	<p><img id="rating" /><span id="reviews"></span></p>
        	<p><a id="url" target="_blank">More info</a></p>
        	<p><span id="phone"></span></p>
      	</div>
      	<div id="address" class="col-md-6"></div>
    	</div>
    	<div class="row">
      	<div class="col-md-12 pickAgainContainer">
      		<%= form_for @search do |f| %>
      			<%= f.hidden_field :location %>
      			<%= f.hidden_field :search_term %>
            <%= f.hidden_field :distance %>
            <%= f.hidden_field :distance_unit %>
      			<%= f.submit "Pick Again!", class: "btn btn-primary" %>
      			or <%= link_to "start over", root_path %>
      		<% end %>
      	</div>
    	</div>
	  </div>
  </div>
  <div class="col-md-5 col-sm-6">
    <div id="map_canvas"></div>
  </div>
</div>