<h1 class="header-title">Randolunch</h1>
<div class="row-fluid">
    <div class="span12">
		<p class="main-subtext">Tired of the same old lunch spots?</p>
		<p class="main-subtext">Let us pick the place for you!</p>

		<%= form_for @search do |f| %>
			<div class="row-fluid">
				<div class="span5">
					<%= render 'shared/error_messages', object: f.object %>
				</div>
			</div>
			<div class="row-fluid">
				<%= f.label :location, "Your Location" %>
				<%= f.text_field :location, placeholder: "address, neighborhood, city, state or zip code",
					class: "span5" %>
			</div>
			<div class="row-fluid">
			<div class="span5">
				<%= f.label :distance %>
				<%= f.select :distance, 
					options_for_select([ "0.5", "1", "2", "5", "10", "20" ], "1"), {}, class: "distance" %> 
				<%= f.select :distance_unit, 
					options_for_select([ "miles", "kilometers" ], "miles"), {}, class: "distance-unit" %> 
			</div>
			</div>
			<div class="row-fluid">
				<%= f.label :search_term, "Search Term (optional)" %>
				<%= f.text_field :search_term, placeholder: "french, sushi, etc.", class: "span5" %>
			</div>
			<div class="row-fluid">
				<%= f.submit "Find Restaurant!", class: "btn btn-primary btn-large" %>
			</div>
		<% end %>
	</div>
</div>