<h1 class="header-title">Randolunch</h1>
<div class="row-fluid">
    <div class="span12">
		<p class="main-subtext">Tired of the same old lunch spots?</p>
		<p class="main-subtext">Let us pick the place for you!</p>

		<%= form_for @search do |f| %>
			<div class="row-fluid">
				<div class="span5">
					<%= render 'shared/error_messages', object: f.object %>
				</div>
			</div>
			<div class="row-fluid">
				<%= f.label :location %>
				<%= f.text_field :location, placeholder: "address, neighborhood, city, state or zip code",
					class: "span5" %>
			</div>
			<div class="row-fluid">
				<%= f.label :search_term %>
				<%= f.text_field :search_term, placeholder: "pizza, tacos, etc.", class: "span5" %>
			</div>
			<div class="row-fluid">
				<%= f.submit "Find Restaurant!", class: "btn btn-primary btn-large" %>
			</div>
		<% end %>
	</div>
</div>