<div class="container">
	<div class="hero-unit">
		<h1>Randolunch</h1>
		<p>Tired of the same old lunch spots?</p>
		<p>Let us pick the place for you!</p>
		<p>&nbsp;</p>

		<%= form_for @search do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="control-group">
				<%= f.label :location, class: "control-label" %>
				<div class="controls">
					<%= f.text_field :location, class: "span6" %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :search_term, class: "control-label" %>
				<div class="controls">
					<%= f.text_field :search_term, class: "span6" %>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">  
					<%= f.submit "Go!", class: "btn btn-primary btn-large" %>
				</div>
			</div>
		<% end %>
	</div>
</div>